---
import cv from '@/curriculum-vitae/content.json';
import PageMeta from '@/src/components/PageMeta.astro';
import { SITE_TITLE } from '@/src/config';
import PageLayout from '@/src/layouts/PageLayout.astro';

const MONTH_NAMES = [
  'january',
  'february',
  'march',
  'april',
  'may',
  'june',
  'july',
  'august',
  'september',
  'october',
  'november',
  'december',
];
const summary = cv.summary;
const skills = cv.skills;
const experience = cv.experience;
const education = cv.education;
---

<PageLayout>
  <PageMeta title={`About | ${SITE_TITLE}`} slot='meta' />
  <section slot='main'>
    <a href='/khai_nguyen.pdf'>
      <button
        class='bg-white dark:bg-slate-800 hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 dark:border-gray-600 rounded shadow'
      >
        <i class='fa-duotone fa-file-pdf dark:text-slate-400'></i>
        <span class='no-underline text-sm dark:text-slate-400 ps-2'
          >Download</span
        >
      </button>
    </a>

    <div class='my-8 text-base'>
      {summary.content}
    </div>
    <div class='my-8'>
      <div class='text-center'>
        <i class='fa-duotone fa-screwdriver-wrench'></i>
        <h2 class='text-xl font-bold'>{skills.name}</h2>
      </div>
      <ul>
        {
          skills.content.map((skill) => (
            <li>
              <span>
                <strong>{skill.name}</strong> {skill.desc}
              </span>
            </li>
          ))
        }
      </ul>
    </div>
    <div class='my-8'>
      <div class='text-center'>
        <i class='fa-duotone fa-browser'></i>
        <h2 class='text-xl font-bold'>
          {experience.name}
        </h2>
      </div>
      {
        experience.roles.map((role) => {
          const start_month = MONTH_NAMES[role.start.month - 1];
          let end_month = 'present';
          if (role.end?.month) {
            end_month = MONTH_NAMES[role.end.month - 1];
          }
          return (
            <>
              <h3>
                <span class='text-base font-bold'>{role.title}</span>{' '}
                <span class='italic text-gray-400'>at</span>{' '}
                <a href={`https://${role.org_url}`}>{role.org_url}</a>{' '}
                <span class='italic text-gray-400'>from</span>
                <span class='capitalize'>
                  {start_month} {role.start.year}
                </span>
                <span class='italic text-gray-400'>to</span>
                <span class='capitalize'>
                  {end_month} {role.end?.year}
                </span>
              </h3>
              <div>
                <ul>
                  {role.experience.map((exp) => (
                    <li>{exp}</li>
                  ))}
                </ul>
              </div>
            </>
          );
        })
      }
    </div>
    <div class='my-8'>
      <div class='text-center'>
        <i class='fa-duotone fa-building-columns'></i>
        <h2 class='text-xl font-bold'>
          {education.name}
        </h2>
      </div>
      <div class='text-center'>
        <strong>{education.degree}</strong>
        <em>{education.honor}</em> in <strong>{education.major}</strong> with <strong
          >{education.minor}</strong
        ><br />
        <span>{education.institution}</span>
      </div>
    </div>
  </section>
</PageLayout>
